<section data-ng-controller="MessageBoardController">
    <h1 class="text-center" style="font-size:46px">VINCENT</h1>
    <div style=" width:20%; height:3px; margin:0px 40% 5px 40%"></div>
    <div style=" margin:20px 5%; min-height:450px; padding:0 10% " class="container jumbotron">
        <div style="margin:30px 43% 30px 44%">
            <form>
                <a href="#!map" class=" btn btn-info">Map View</a>
            </form>
        </div>
        <form action="" style="">
            <table>
                <colgroup>
                    <col style="width:30%"/>
                    <col style="width:40%"/>
                    <col style="width:30%"/>
                </colgroup>
                <tr>
                    <td></td>
                    <td>
                        <input type="textarea" name="Time" style="margin-right:15px; width:120px" placeholder="Enter Text Here...">
                        <div style="display:inline-block; float:right">
                            <input type="submit" value="Search" class="btn btn-info">
                        </div>
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</section>
